<html>

<link href="static/style.css" rel="stylesheet">

<body>
  <div class="parent clearfix">
    <div class="bg-illustration"></div>

    <div class="login">
      <div class="container">
        <h1>Inicie sesión para acceder a su cuenta</h1>
        <div class="login-form">

          <form action="" method="post">
            <input type="text" placeholder="Correo" name="username" value="{{
            request.form.username }}">
            <input type="password" placeholder="Contraseña" name="password" value="{{
            request.form.password }}">

            {% if error %}
            <div>
              <p style="color:red"><strong>Error:</strong> {{ error }}
            </div>
            {% endif %}

            <button type="submit">Inicia Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>