<html>

<link href="static/style.css" rel="stylesheet">

<body>
  <div class="parent clearfix">
    <div class="bg-illustration"></div>

    <div class="login">
      <div class="container">
        <h1>Login to access to<br />your account</h1>
        <div class="login-form">

          <form action="" method="post">
            <h2>Token</h2>
            <p>{{ token }}</p>
            <h2>Refresh token</h2>
            <p>{{ refresh_token }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>